doctype html
html
  head
    title My Dance Academy 
    block scripts
    block style
  body
    nav#navbar.top
        ul  
            div#logo
                img(src="/static/img/logo.png")
                | MDA
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class Info] 
            li #[a(href="/") Contact Us]
    block content  
    footer#footer 
        | Copyright © 2021 marvelousdanceacademy.com | All rights reserved