@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo{
    display:flex;
    color:white;
    align-items: center;   
    margin: 0 14px;
    font-size: 25px;
    margin-right: 40px;
}

#logo img{
    height: 42px;
    filter:invert();
}

#navbar{
    background-color: darksalmon;
    padding: 13px 14px;
    font-family: 'Otomanopee One', sans-serif;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    font-size: 22px;
    text-decoration: none;
    padding: 7px 30px;
}

#navbar li a:hover{
    color: rgb(209, 81, 113);
}

#introSection{
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    color:white;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    background: url("/static/bj.jpg");
    background-position-x: center;
    background-size:cover;
    background-repeat: no-repeat;
    /* background-color: rgb(14, 99, 138); */
    /* background-repeat: no-repeat; */
}

#introSection div.small{
    padding: 2px;
    font-size: 24px;
}


#missionSection{
    height: 300px;
    margin: auto;
    width: 67%;
    background-color:powderblue;
}

#missionSection h2{
    text-align: center;
    padding-top: 12px;
    font-family: 'Otomanopee One', sans-serif;
}

.card{
    border: 2px solid black;
    width: 29%;
    border-radius: 6px;
    margin: 23px 19px;
    height: 210px;
    display: inline-block;
}

.card h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 22px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card img{
    height: 100px;
    padding: 0px 6px;
    margin: 8px 6px;
}

.card-content{
    padding: 0 10px;
}

.card-content p{
    font-size: 17px;
}



#sponsorsSection{
    height: 275px;
    background-color: rgb(247 124 26 / 48%);
}

#sponsorsSection h2{
    text-align: center;
    padding-top: 15px;
    font-family: 'Otomanopee One', sans-serif;
}
#sponsors{
    height: 191px;
    max-width: 1000px;
    margin: 30px 228px;    
}

.spImage{
    height: 70%;
    margin: 20px;
}
#footer{
    height: 60px;
    background-color: rgb(15, 13, 13);
    font-size: 15px;
    display:flex;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}